{% extends "base.html" %}
{% block title %}Giriş Yap{% endblock %}
{% block content %}
<style>
    /* login.css */
body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    color: #b30000;
    margin: 0;
    padding: 0;
}

.logincss {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff0f0;
    border: 2px solid #b30000;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(179, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #b30000;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    color: #b30000;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #b30000;
    border-radius: 5px;
    background-color: #fff;
    color: #b30000;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #b30000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #990000;
}

</style>
<div class="logincss">
<h1>Log In</h1>
<form method="post" action="/login">
    <label>username</label>
    <input type="text" name="username" placeholder="Kullanıcı Adı" required><br>
    <label>password</label>
    <input type="password" name="password" placeholder="Şifre" required><br>
    <button type="submit">Giriş</button>
</form></div>
{% endblock %}